@model IEnumerable<WebPrototype.Models.Acc_Profile>
@{
    ViewData["Title"] = "Profile";
}
@if(Model.Count() > 0){
    <h1 class="text-center">ข้อมูลรายละเอียดกิจการ</h1>
    <hr />
    @foreach(var item in Model)
    {
        <div>
            <div class="row">
                <div class="col-sm-2">
                    <label style="font-weight: bold;">ชื่อบริษัท :</label>
                </div>
                <div class="col-sm-4">
                    <div style="display:flex;width:100%;">
                        <p>@Html.DisplayFor(modelItem => item.THName)</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label style="font-weight: bold;">ชื่อภาษาอังกฤษ :</label>
                </div>
                <div class="col-sm-4">
                    <div style="display:flex;width:100%;">
                        <p>@Html.DisplayFor(modelItem => item.ENName)</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label style="font-weight: bold;">ที่อยู่ :</label>
                </div>
                <div class="col-sm-4">
                    <div style="display:flex;width:100%;">
                        <p>@Html.DisplayFor(modelItem => item.THAddress1) @Html.DisplayFor(modelItem => item.THAddress2)</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label style="font-weight: bold;">ที่อยู่ภาษาอังกฤษ :</label>
                </div>
                <div class="col-sm-4">
                    <div style="display:flex;width:100%;">
                        <p>@Html.DisplayFor(modelItem => item.EAddress1) @Html.DisplayFor(modelItem => item.EAddress2)</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label style="font-weight: bold;">หมายเลขโทรศัพท์ :</label>
                </div>
                <div class="col-sm-4">
                    <div style="display:flex;width:100%;">
                        <p>@Html.DisplayFor(modelItem => item.TelPhoneFax)</p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label style="font-weight: bold;">ประเภทของกิจการ :</label>
                </div>
                <div class="col-sm-4">
                    <div style="display:flex;width:100%;">
                        <p>@Html.DisplayFor(modelItem => item.ProfileType)</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label style="font-weight: bold;">เลขประจำตัวผู้เสียภาษี :</label>
                </div>
                <div class="col-sm-4">
                    <div style="display:flex;width:100%;">
                        <p>@Html.DisplayFor(modelItem => item.TaxNumber) </p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <label style="font-weight: bold;">สาขา :</label>
                </div>
                <div class="col-sm-4">
                    <div style="display:flex;width:100%;">
                        <p>@Html.DisplayFor(modelItem => item.Branch) </p>
                    </div>
                </div>
            </div>

             
            <div class="row">
                <div class="col-sm-2">
                    <label style="font-weight: bold;">เลขทะเบียนการค้า :</label>
                </div>
                <div class="col-sm-4">
                    <div style="display:flex;width:100%;">
                        <p>@Html.DisplayFor(modelItem => item.BusRegisNum) </p>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div>
            <a class="btn btn-warning



" asp-controller="Profile" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
        </div>
    }
} else {
    <h1 class="text-center">ข้อมูลรายละเอียดกิจการ</h1>
    <hr />
    <a class="btn btn-success" asp-action="Create">Create New</a>
    <br />
    <h4>ยังไม่มีข้อมูลรายละเอียดกิจการในระบบ</h4>
}