@model IEnumerable<WebPrototype.Models.Mas_Company>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Customer List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameEng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaxNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CSCodeIM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CSCodeEX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CSCodeOT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GLAccountCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillToCustCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillToBranch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsedLanguage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LevelGrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TermOfPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillCondition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapFileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CmpType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CmpLevelExp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CmpLevelImp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is19bis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MgrSeq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LevelNoExp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LevelNoImp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LnNO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdjTaxCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BkAuthorNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BkAuthorCnn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LtdPsWkName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DutyLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDistrict)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TSubProvince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TProvince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TPostCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DMailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrivilegeOption)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoldCardNO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomsBrokerSeq)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISCustomerSign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISCustomerSignInv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISCustomerSignDec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISCustomerSignECon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsShippingCannotSign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExportCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code19BIS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WEB_SITE)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameEng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaxNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoginPassword)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CSCodeIM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CSCodeEX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CSCodeOT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GLAccountCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillToCustCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillToBranch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsedLanguage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TermOfPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MapText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MapFileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CmpType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CmpLevelExp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CmpLevelImp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is19bis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MgrSeq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelNoExp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelNoImp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LnNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdjTaxCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BkAuthorNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BkAuthorCnn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LtdPsWkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DutyLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TDistrict)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TSubProvince)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TProvince)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TPostCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DMailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrivilegeOption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoldCardNO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomsBrokerSeq)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISCustomerSign)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISCustomerSignInv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISCustomerSignDec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ISCustomerSignECon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsShippingCannotSign)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExportCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code19BIS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WEB_SITE)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
