@model IEnumerable<WebPrototype.Models.Mas_Account>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Account List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccTName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccEName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccMain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccSide)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccTName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccEName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccMain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccSide)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
